.image {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	padding-bottom: 50px;

}

.category-heading {
	display: flex;
	justify-content: center;
}



.btn-primary {
	padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    display: block;
    height: 250px;
}


.btn-group-vertical {
	display: flex;
}

.blah{
	left: 100px;
}


.blah2{
	left: 55px;
}


.blah3{
	left: 10px;
}


.blah4{
	right: 23px;
}


.blah5{
	right: 25px;
}




























